* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {
	background: #db3d3d;
	font: 13px Helvetica, sans-serif;
	color: white;
}

header, article {
	z-index: 9;
	width: 100%;
	min-height: 200px;
	padding: 80px 40px;
}

article:nth-child(2n+1){
	display: block;
	background: #76A487;
}

h1{
	font: 45px 'Myriad Pro Bold Cond', sans-serif;
	text-shadow: 0px 3px 0 rgba(255, 255, 255, 0.5);
	word-spacing: 19px;
	color: white;
}

h2{
	color: #db3d3d;
	font-size: 30px;
	text-transform: uppercase;
}

h2:after{
	content: ',';
}

h2 span{
	color: #BDBDBD;
	margin-right: 10px;
}

section{
	background: white;
	width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section:not(.code){
	border-bottom: solid 5px #BDBDBD;
	border-radius: 3px;
}

section.code{
	background: #1E1E1E;
	font-size: 15px;
}

/*
	Timelines
*/

.anim-box{
	padding: 40px;
}

.display{
	float: right;
	display: block;
	height: 80px;
	line-height: 80px;
	width: 80px;
	margin: 8px;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	opacity: 0.1;
	-webkit-transition: opacity 0.2s;
}

.display.blink{ opacity:0.8 }

.chunk {
	display: block;
	position: absolute;
	z-index: 10;
	height: 3px;
	top: 0px;
	left: 35px;
	width: 126px;
	overflow:hidden;
	background: #A8C6B4;
}

.chunk span{
	display: block;
	background: #A32724;
	width: 0%;
	height: 100%;
	-webkit-transition: width 0.5s linear;
}

.chunk.filled span{
	width: 100%;
}

.chunk:nth-child(2){left: 191px;}
.chunk:nth-child(3){left: 347px;}
.chunk:nth-child(4){left: 503px;}

.timeline {
	width: 664px;
	height: 13px;
	background: #A8C6B4;
	border-radius: 10px;
	position: relative;
	border: solid 5px #76A487;
	border-left: 0;
	border-right: 0;
}

.timeline span{ display: block; }

.timeline .spot,
.timeline .group{
	position: relative;
	height: 40px;
	line-height: 30px;
	text-align: center;
	width: 40px;
	background: #A8C6B4;
	float: left;
	margin-top: -18px;
	margin-right: 116px;
	color: white;
	font-size: 20px;
	text-align: center;
	-webkit-transition: background, -webkit-transform 0.2s;
	border-radius: 20px;
	border: solid 5px #76A487;
	z-index: 0;
}
.timeline .spot:last-of-type,
.timeline .group:last-of-type{ margin-right: 0 }


.timeline .group{
	position: relative;
	-webkit-transition: background 0.2s;
}

.timeline .group.expanded {
	background: transparent;
}

.timeline .group.expanded .spot{ opacity:1; }
.timeline .group .spot{
	opacity: 0.2;
	position: absolute;
	top: 12px;
	left: 0;
	opacity: 0;
	-webkit-transform: translateX(0px);
	font-size: 14px;
	padding-left: 13px;
	-webkit-transition: opacity, -webkit-transform 0.2s;
}

.timeline .group.expanded .spot:first-child{ -webkit-transform: translateX(-25px); }
.timeline .group.expanded .spot:last-child{ -webkit-transform: translateX(25px); }

.timeline span.spot.filtered{
	background: #9691FF;
}

.timeline span.spot.blink.filtered{
	background: #FF665A;
}

.timeline .spot.blink{
	background: #A32724;
}

.timeline .spot.scale{
	-webkit-transform: scale(1.5);
}


